@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-blue-500
}

.places-container {
  background-color: blue;
  height: 50px;
  width: 60%;
  padding-top: 10px;


}

.map-container {
  width: 100%;
  height: 50vh;


}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.divPrimary {
  display: flex;
  flex-direction: column;






  justify-content: center;

}